%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et
{cover_enabled, true}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{erl_opts, [
%%	bin_opt_info,
%%	warn_missing_spec,
]}.

{deps, 
 [
  {hackney, ".*", 
   {git, "https://github.com/benoitc/hackney.git", {branch, "master"}}},
  {jiffy, ".*", 
   {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
  {sync, ".*", 
   {git, "https://github.com/rustyio/sync.git",{branch,"master"}}}
 ]}.

{clean_files, [
    "test/*.beam"
    "erl_crash.dump"
  ]}.

